extends layout

block content
  style.
        body {
            background: #283C4C
        }
        h1,p {
            color: #FFFFFF;
            text-align: center;
        }
  h1= title
  p Collection as a Service
