{% extends "layout.html" %}
{% block content %}
  <main>
    <section class="content">

      <div class="display-4 text-lowercase">justontime</div>
      <p>Payments due <strong>Just On Time</strong></p>

      <p>justontime is a non-profit organisation helping businesses and individuals get paid <strong>just on time</strong></p>
      <p>Late payment is one of the leading causes of business failure</p>

      <blockquote class="blockquote">A Good Reputation is More Valuable Than Money
        <div class="blockquote-footer">
          Publilius Syrus
        </div>
      </blockquote>

    </section>
  </main>
{% endblock %}
