<!DOCTYPE html>

<html>

  <head>

    <title>JustOnTime</title>

    {% block stylesheets %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    <style>
      body {
          background: #283C4C
      }
      h1,p,form {
          color: #FFFFFF;
          text-align: center;
      }
    </style>
    <h1>JustOnTime</h1>
    <p>Collection as a Service</p>

    <p>
      Sign up now to get early notification of our launch date!
    </p>

    <form method="POST">
      <p>
        <input type="email" name="email" placeholder="Email Address">
        <input type="submit" value="Submit">
    </p>
    </form>

  </body>

</html>
